%nav
  %section.primary-nav
    .wrapper
      %article
        %ul.blog-title
          %li
            = link_to "#100DAYSOFCODE", "../index.html"
        %ul.right-menu
          %li
            = link_to "EMAIL", "mailto:amber.aultman@gmail.com"
          %li
            = link_to "TWITTER", "http://twitter.com/amberaultman"
  %section.secondary-nav
    .wrapper
      %article
        %ul
          %li.all= link_to "ALL"
          %li.work= link_to "WORK"
          %li.writing= link_to "WRITING"
          %li.dribbble= link_to "DRIBBBLE"
          %li.about= link_to "ABOUT"
