!!!5
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge;chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title
      Amber Aultman - Timeline
    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"
    = stylesheet_link_tag "normalize", "all"
  %body#timeline
    #main{:role => "main"}
      = partial "refills/nav"
      = yield

    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js", "all"
    = yield_content(:javascript)
