%header
  %section.article-header
    .wrapper
      %article
        %h1 Catalyst: Design Thinking Workshops
        %p.summary
          2014  /  Development, Photography, Strategy, UX Design, Visual Design, Workshop Facilitation

%section.work-body
  .wrapper
    %article
      .narrow-center
        %h4
          Goal
        %p
          Provide internal and external design thinking workshops to help teams approach their problems creatively.
        %p
          This project was completed at Ignite.

    %article.image-left
      = image_tag "work/cat-workshop-1.jpg"
      %figcaption
        %h4 A human-first approach
        %p
          At most of the Catalyst workshops, I gave a talk on the importance of the human element in business. I would walk workshop attendees through the value of human-centered design, using real examples of ways companies have used this to create extraordinary experiences, making them standout in the marketplace.
    %article.image-right
      = image_tag "work/cat-workshop-7.jpg"
      %figcaption
        %h4 Setting the stage with personas
        %p
          Creating personas is an important part of the workshop process. It’s the foundation on which the rest of the exercises are built. Getting people up and moving helps them be more creative and work as a team.
    %article.image-left
      = image_tag "work/cat-workshop-3.jpg"
      %figcaption
        %h4 A customized experience
        %p
          From small groups to large, internal to external, products to services, each Catalyst workshop was customized to fit the needs of its attendees. Anthony Catanese, our product manager, did a wonderful job creating a flexible structure that could be easily manipulated depending on the needs of the group.
    %article.image-right
      = image_tag "work/cat-workshop-5.jpg"
      %figcaption
        %h4 Ah, the marshmallow challenge
        %p
          The marshmallow challenge was usually a favorite among attendees. We used the hands-on activity to illustrate the importance of creating prototypes, reserving judgement, working together as a team, starting with the most important thing first, and iterating.
    %article.image-left
      = image_tag "work/cat-workshop-6.jpg"
      %figcaption
        %h4 Creativity unleashed
        %p
          One of the best parts of facilitating these workshops was watching people step into their own creativity. Some people struggled more than others, and some people fought hard against it, but by the end of each session almost everyone was thinking differently.



    %article
      .credits
        %h6
          CREDITS / THANK YOUS
        %ul
          %li
            Anthony Catanese
            %br
            %span Product Management, Workshop Facilitation
          %li
            Katy Garrison
            %br
            %span Brand Identity, Visual Design
          %li
            Jason Kellum
            %br
            %span Videography
          %li
            Amy Wall
            %br
            %span Photography, Workshop Facilitation

%section.next-nav
  .wrapper
    %article
      %h6
        Next
      = link_to '/work/wayfind.html' do
        %h4
          Wayfind
