%header
  %section.article-header
    .wrapper
      %article
        %h1 IBM Alumni Engagement
        %p.summary
          2015  /  Design Thinking & Facilitation, Project Management, Product Strategy, UX Design, User Research

%section.work-body
  .wrapper
    %article
      .narrow-center
        %h4
          Goal
        %p
          Research the sentiment and needs of the current IBM alumni population and generate possible initiatives, products and/or services that would help IBM better connect with current and future alumni and build a lasting community.
        %p
          This project was completed at Ignite in partnership with our sister company, Lee Hecht Harrison.
    %article.image-left
      = image_tag "work/ibm-empathy-map.jpg"
      %figcaption
        %h4 Data for days
        %p
          We analyzed IBM’s Glassdoor and LinkedIn statistics and interactions, reviewed and classified results from Lee Hecht Harrison’s alumni sentiment survey, and conducted many in-depth alumni interviews via video chat. From this research we identified three personas and their general needs, desires, and feelings towards IBM.
    %article.image-right
      = image_tag "work/ibm-ideation.jpg"
      %figcaption
        %h4 Diverge, converge, repeat
        %p
          I facilitated 2 ideation sessions during the 12-week project. The first session was conducted with several members of the Ignite team. The second ideation was held in New York City with members of IBM, Lee Hecht Harrison, and the Ignite project team. From these design-thinking workshops, we generated 127 ideas that centered around the themes of communication, connection, and knowledge sharing.
    %article.image-left
      = image_tag "work/ibm-sketches.jpg"
      %figcaption
        %h4 Divide and conquer
        %p
          Based on our research and ideation process, we made recommendations for ways in which IBM and Lee Hecht Harrison could use their strengths to implement and test various initiatives. At Ignite, we chose to explore the possibility of a digital solution that would focus on communication, connection, and/or knowledge sharing.
        %p
          With the help of several Igniters, we put the ideas through an initial vetting process, fleshing out many of the ideas with sketches and listing assumptions and possible tests. After deciding on the final 4 ideas, we used 2-3 week sprints to prototype and test them.
    %article.image-right
      = image_tag "work/ibm-timeline-1.jpg"
      %figcaption
        %h4 Interactive Timeline
        %p
          In the spirit of the popular StoryCorps project &mdash; “an American non-profit organization whose mission is to record, preserve, and share the stories of Americans” &mdash; we explored the possibility of developing a tool that would facilitate sharing the history of IBM through its people. This multimedia platform would provide a collective representation of IBM made up of imagery and information about previous projects and the people who worked on them.
    %article.image-right
      = image_tag "work/ibm-timeline-2.jpg"
    %article.image-left
      = image_tag "work/ibm-mentoring-1.jpg"
      %figcaption
        %h4 Discussion Forum
        %p
          Another potential product idea that we explored was a discussion group for alumni focused on sharing expertise and advice on professional issues. We built a static prototype for 1-on-1 user testing. We also created a Google Group discussion to test actual user interactions.
    %article.image-left
      = image_tag "work/ibm-mentoring-3.jpg"
    %article.image-left
      = image_tag "work/ibm-mentoring-2.jpg"
    %article
      .narrow-center
        %h4
          An opportunity to engage
        %p
          Our research and experiements for this project showed that there is a real opportunity for IBM to engage alumni. We gave them our final recommendations for moving forward which will be presented to IBM leadership for possible inclusion in their 2016 initiatives.
    %article
      .credits
        %h6
          CREDITS / THANK YOUS
        %ul
          %li
            Sunny Gettinger
            %br
            %span Copywriting, Research, Strategy, User Testing
          %li
            Sean Paley
            %br
            %span Product Management, Strategy
          %li
            Eleanor Vajzovic
            %br
            %span Project Management, Strategy

%section.next-nav
  .wrapper
    %article
      %h6
        Next
      = link_to "#" do
        %h4
          Case Study Title Here
