%header
  %section.article-header
    .wrapper
      %article
        %h1 Taverna Restaurant
        %p.summary
          2013-2015  /  Brand Identity, Strategy, UX Design, Visual Design

%section.work-body
  .wrapper
    %article
      .narrow-center
        %h4
          Goal
        %p
          Update Taverna’s existing branding to coincide with and support the restaurant’s expansion: an added private dining space, a fast casual lunch concept, and a full liquor bar.
        %br
        %h4
          Challenge
        %p
          Historically, Taverna had been very successful in catering to an upscale “foodie” clientele, but they felt that they were missing out on a larger market by being lumped into the “special occasion” category. While the addition of a walk-up lunch counter helped to position them as a casual dining spot, the private dining room reinforced their position as a special occasion restaurant. They needed a brand that would support each of these concepts without alienating the other; an identity that was approachable and welcoming, while still feeling sophisticated and extraordinary.
    %article.image-left
      = image_tag "work/tav-identity.jpg"
      %figcaption
        %h4 An updated identity
        %p
          Taverna’s existing word mark was already well known in the community and fit with the restaurant’s overall look and feel. Thus, we decided to continue with this as the foundation for their brand, creating a supporting visual language that would help bring these two somewhat disparate aspects of their identity together.
    %article.image-right
      = image_tag "work/tav-website.jpg"
      %figcaption
        %h4 What they need when they need it
        %p
          For Taverna’s website, anticipating and delivering the information a user would need was the number one priority. I interviewed several customers to determine their goals in going to a restaurant’s website, both as first time and returning users. With this information I created a site architecture that would give both target groups the information they sought as quickly as possible.
    %article.image-left
      = image_tag "work/tav-cocktail-ad.jpg"
      %figcaption
        %h4 Craft, not fuss
        %p
          Because Taverna had been a beer-and-wine only restaurant for several years before adding a cocktail program, it was extremely important to promote their new offering effectively. We worked with Wingard Creative to create a cocktail campaign that focused on simple ingredients and the action of the process. This focus set the ads apart from the typical static image of a complete cocktail and reinforced Taverna’s focus on simplicity and quality of ingredients over fuss.
    %article.image-right
      = image_tag "work/tav-totg.jpg"
      %figcaption
        %h4 Taverna on the Go
        %p
          Perhaps our biggest challenge was reinventing Taverna’s fast casual counter and delivery lunch service. From naming to service logistics, counter experience, and community outreach, Dan Nehring and I worked closely with the Taverna team to create a plan to drive lunch business. We needed to be able to compete with restaurants that were cheaper and faster. To do this, Taverna created a shortlist of dishes that could be quickly prepared and would keep well for travel. We then created a marketing campaign to reach the community and build momentum. At this time, Taverna’s in-house on-the-go business is slowly building, but their on-the-go lunch delivery business has increased dramatically.
    %article
      .credits
        %h6
          CREDITS / THANK YOUS
        %ul
          %li
            Jensen Hande
            %br
            %span Photography
          %li
            Dan Nehring
            %br
            %span Marketing, Strategy, Copywriting
          %li
            Danilo Quilaton
            %br
            %span Development
          %li
            Wingard Creative
            %br
            %span Marketing Concept, Copywriting

%section.next-nav
  .wrapper
    %article
      %h6
        Next
      = link_to '/work/catalyst.html' do
        %h4
          Catalyst Design Thinking Workshops
