---
pageable: false
---

%header
  %section
    .wrapper
      %article
        %h1 hello.
        %p
          I’m Amber Aultman, an experience designer in Jacksonville, FL. I currently work at
          = link_to 'Ignite', 'http://ignitewithus.com'
          where I help create products that shape the way we work. I love giving back to the design community through
          = link_to 'AIGA Jacksonville,', 'http://jacksonville.aiga.org'
          where I currently serve as vice president. Check out my
          = link_to 'r&eacute;sum&eacute;,', '#'
          find me on
          = link_to 'Twitter,', 'https://twitter.com/amberaultman'
          = link_to 'Github,', 'https://github.com/amberaultman'
          or
          = link_to 'Dribbble,', 'https://github.com/amberaultman'
          or
          = link_to 'drop me a line', 'mailto:amber.aultman@gmail.com'
          to say hello!
%aside.timeline
  Everything is awesome.
%section.timeline-container
  #container
    %article.item.dribbble
      .type-tag
      %figcaption
        %time August 20, 2013
        %p
          Identity option for MOCA Jacksonville's New Year's Eve party
        %button.learn-more-dribbble
          View on Dribbble
          %i.fa.fa-long-arrow-right
      = image_tag 'dribbble/moca.png'

    %article.item.about
      .type-tag
      %figcaption
        %time August 20, 2013
        %p
          It's so fun getting to see @content_modern's new branding implemented!
        %button.learn-more-about
          View on Somewhere
          %i.fa.fa-long-arrow-right
      = image_tag 'about/2015-12-18.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time August 20, 2013
        %p
          It's so fun getting to see @content_modern's new branding implemented!
        %button.learn-more-about
          View on Somewhere
          %i.fa.fa-long-arrow-right
      = image_tag 'about/2015-12-18.jpg'

    %article.item.work
      .type-tag
      %figcaption
        %time 2013-2015
        %h2
          Taverna Restaurant
        %p
          Brand Identity, Strategy, UX Design, Visual Design
        = link_to '/work/taverna.html' do
          %button.learn-more-work
            Learn More
            %i.fa.fa-long-arrow-right
      = image_tag 'work/tav-cover.jpg'

    %article.item.work
      .type-tag
      %figcaption
        %time 2015
        %h2
          Content Architecture + Interiors
        %p
          Brand Identity, Visual Design, Website Content Strategy, Website Creative Direction
        = link_to '/work/content.html' do
          %button.learn-more-work
            Learn More
            %i.fa.fa-long-arrow-right
      = image_tag 'work/cnt-cover.gif'

    %article.item.about
      .type-tag
      = image_tag 'http://placehold.it/400x300'

    %article.item.writing
      .type-tag
      %figcaption
        %time August 25, 2014
        %h2
          Learn How to Learn (Code) Better
        %p
          Article originally posted on
          = link_to 'AIGA Jacksonville', 'http://jacksonville.aiga.org/learn-how-to-learn-code-better/'
        = link_to '/writing/2014-08-25.html' do
          %button.learn-more-writing
            Read Article
            %i.fa.fa-long-arrow-right
      = image_tag 'writing/learn-better.jpg'

    %article.item.dribbble
      .type-tag
      = image_tag 'http://placehold.it/400x300'

    %article.item.dribbble
      .type-tag
      = image_tag 'http://placehold.it/400x300'

    %article.item.writing
      .type-tag
      %figcaption
        %time April 16, 2014
        %h2
          Style Prototypes: A Happy Medium
        %p
          Article originally posted on
          = link_to 'AIGA Jacksonville', 'http://jacksonville.aiga.org/style-prototypes-a-happy-medium/'
        = link_to '/writing/2014-04-16.html' do
          %button.learn-more-writing
            Read Article
            %i.fa.fa-long-arrow-right
      = image_tag 'writing/style-prototypes.jpg'


-# - page_articles.each do |article|
-#   %section
-#     .wrapper
-#       %article
-#         %h2
-#           = link_to article.title, article, relative: true
-#           %span.timeline-marker= article.date.strftime('%b %e')
-#         = article.body

- content_for :javascript do
  :javascript
    $(window).load(function() {
      // init
      var $container = $('#container');

      $container.isotope({
        // options
        itemSelector: '.item',
        layoutMode: 'masonry',
        masonry: {
          columnWidth: 400,
          gutter: 10
        }
      });
      $('.filter-button-group').on( 'click', 'button', function() {
        var filterValue = $(this).attr('data-filter');
        $container.isotope({ filter: filterValue });
      });
      $('.button-group').each( function( i, buttonGroup ) {
        var $buttonGroup = $( buttonGroup );
        $buttonGroup.on( 'click', 'button', function() {
          $buttonGroup.find('.is-checked').removeClass('is-checked');
          $( this ).addClass('is-checked');
        });
      });
    });
