%nav
  %section
    %article
      %h5 #100DAYSOFCODE
      %p
        a #100dayproject by
        %strong
          Amber Aultman
%header
  %section
    %article
      %p
        Hi there, I’m Amber Aultman, a product designer in Jacksonville, FL. I work at
        = link_to 'Ignite', 'http://ignitewithus.com'
        where I’m helping to create products that shape the way we work. I take on a bit of freelance work here and there and I’m loving my role as Communications Director for
        = link_to 'AIGA Jacksonville.', 'http://jacksonville.aiga.org'
        You can find me on
        = link_to 'Twitter,', 'https://twitter.com/amberaultman'
        = link_to 'Github,', 'https://github.com/amberaultman'
        = link_to 'Dribbble', 'https://github.com/amberaultman'
        and
        = link_to 'Somewhere', 'https://www.somewhere.com/amberaultman'
        or you can
        = link_to 'drop me a line', 'mailto:amber.aultman@gmail.com'
        to say hello.
%section.day3
  %article
    %aside.timeline
      everything is awesome
    %figure.center
      = image_tag "phone-2.png"
    %h1 Day 3
    %p Here's to my first struggle to get this project done. Here's to phoning it in. But at least I did it. Tomorrow will be better.
%section.day1
  %article
    %aside.timeline
      everything is awesome
    %h1
      day 1
      %span
        (&amp; day 2)
    %h2 Ok, so here we go.
    %p Today won't look like much, but the work is there. I created the project with Middleman, added it to github, pushed it live on Heroku, and installed Bourbon, Neat, and Bitters. This will give me the structure I need for the next 100 days. Pow.
    %h4 Day 2 update
    %p Man, do you have any idea how hard it is to not dive into the design right now? Do you know how hard it is for me to post this even though the design is no where near ready to show? But hey, that's what this exercise is about right?
    %p
      Well, for today's exercise, I got a little more familar with
      = link_to 'Neat', 'http://neat.bourbon.io/'
      and
      = link_to 'Bitters.', 'http://bitters.bourbon.io/'
      I also brought in some
      = link_to 'Google fonts', 'http://www.google.com/fonts'
      and started playing with some styles.
