---
pageable: false
---

%header
  %section
    .wrapper
      %article
        %h1 hello.
        %p
          I’m Amber Aultman, an experience designer in Jacksonville, FL. I currently work at
          = link_to 'Ignite ', 'http://ignitewithus.com'
          where I help create products that shape the way we work. I love giving back to the design community through
          = link_to 'AIGA Jacksonville, ', 'http://jacksonville.aiga.org'
          where I currently serve as vice president. Check out my
          = link_to 'r&eacute;sum&eacute;,', '#'
          find me on
          = link_to 'Twitter, ', 'https://twitter.com/amberaultman'
          = link_to 'Github, ', 'https://github.com/amberaultman'
          or
          = link_to 'Dribbble, ', 'https://github.com/amberaultman'
          or
          = link_to 'drop me a line', 'mailto:amber.aultman@gmail.com'
          to say hello!
%aside.timeline
  Everything is awesome.
%section.timeline-container
  #container
    %article.item.work
      .type-tag
      = link_to '/work/wayfind.html' do
        %figcaption
          %time 2015
          %h2
            Wayfind
          %p
            Development, Product Strategy, UX Design, User Research, Workshop Facilitation
          %button.learn-more-work
            Learn More
            %i.fa.fa-long-arrow-right
      = image_tag 'work/way-cover.jpg'

    %article.item.work
      .type-tag
      = link_to '/work/ibm.html' do
        %figcaption
          %time 2015
          %h2
            IBM Alumni Engagement
          %p
            Project Management, Product Strategy, UX Design, User Research, Workshop Facilitation
          %button.learn-more-work
            Learn More
            %i.fa.fa-long-arrow-right
      = image_tag 'work/ibm-cover.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time 2015 &mdash; DEC 20
        %p
          It's so fun getting to see @content_modern's new branding implemented!
        %button.learn-more-about
          View on Somewhere
          %i.fa.fa-long-arrow-right
      = image_tag 'about/2015-12-18.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time August 20, 2013
        %p
          It's so fun getting to see @content_modern's new branding implemented!
        %button.learn-more-about
          View on Somewhere
          %i.fa.fa-long-arrow-right
      = image_tag 'about/2015-12-18.jpg'

    %article.item.work
      .type-tag
      = link_to '/work/content.html' do
        %figcaption
          %time 2015
          %h2
            Content Architecture + Interiors
          %p
            Brand Identity, Visual Design, Website Content Strategy, Website Creative Direction
          %button.learn-more-work
            Learn More
            %i.fa.fa-long-arrow-right
      = image_tag 'work/cnt-cover.gif'

    %article.item.work
      .type-tag
      = link_to '/work/taverna.html' do
        %figcaption
          %time 2013 &ndash; 2015
          %h2
            Taverna Restaurant
          %p
            Brand Identity, Strategy, UX Design, Visual Design
          %button.learn-more-work
            Learn More
            %i.fa.fa-long-arrow-right
      = image_tag 'work/tav-cover.jpg'

    %article.item.dribbble
      .type-tag
      = link_to '#' do
        %figcaption
          %time 2014
          %p
            Logo lockups for Medicine Tree Acupuncture
          %button.learn-more-dribbble
            View on Dribbble
            %i.fa.fa-long-arrow-right
      = image_tag 'dribbble/med-logo.jpg'

    %article.item.dribbble
      .type-tag
      = link_to '#' do
        %figcaption
          %time 2014
          %p
            Business card design for Medicine Tree Acupuncture
          %button.learn-more-dribbble
            View on Dribbble
            %i.fa.fa-long-arrow-right
      = image_tag 'dribbble/med-bizcards.jpg'

    %article.item.work
      .type-tag
      = link_to '/work/catalyst.html' do
        %figcaption
          %time 2014
          %h2
            Catalyst: Design Thinking Workshops
          %p
            Development, Photography, Strategy, UX Design, Visual Design, Workshop Facilitation
          %button.learn-more-work
            Learn More
            %i.fa.fa-long-arrow-right
      = image_tag 'work/cat-cover.jpg'

    %article.item.writing
      .type-tag
      = link_to '/writing/2014-08-25.html' do
        %figcaption
          %time 2014 &mdash; AUG 25
          %h2
            Learn How to Learn (Code) Better
          %p
            Article originally posted on AIGA Jacksonville
          %button.learn-more-writing
            Read Article
            %i.fa.fa-long-arrow-right
      = image_tag 'writing/learn-better.jpg'

    %article.item.dribbble
      .type-tag
      = link_to 'https://dribbble.com/shots/2426085-Oppify-Flyer' do
        %figcaption
          %time 2014
          %p
            Oppify flyer stuffed into koozies for promotion
          %button.learn-more-dribbble
            View on Dribbble
            %i.fa.fa-long-arrow-right
      = image_tag 'dribbble/opp-flyer.jpg'

    %article.item.dribbble
      .type-tag
      = link_to 'https://dribbble.com/shots/2426079-Promotional-koozie-for-Oppify' do
        %figcaption
          %time 2014
          %p
            Promotional koozies for Oppify
          %button.learn-more-dribbble
            View on Dribbble
            %i.fa.fa-long-arrow-right
      = image_tag 'dribbble/opp-koozie.jpg'

    %article.item.writing
      .type-tag
      = link_to '/writing/2014-04-16.html' do
        %figcaption
          %time April 16, 2014
          %h2
            Style Prototypes: A Happy Medium
          %p
            Article originally posted on AIGA Jacksonville
          %button.learn-more-writing
            Read Article
            %i.fa.fa-long-arrow-right
      = image_tag 'writing/style-prototypes.jpg'

    %article.item.dribbble
      .type-tag
      = link_to 'https://dribbble.com/shots/2426071-Oppify-Responsive-Web-App' do
        %figcaption
          %time 2013
          %p
            Oppify, a responsive web app
          %button.learn-more-dribbble
            View on Dribbble
            %i.fa.fa-long-arrow-right
      = image_tag 'dribbble/opp-app.jpg'

    %article.item.dribbble
      .type-tag
      = link_to 'https://dribbble.com/shots/2426076-Oppify-Job-List' do
        %figcaption
          %time 2013
          %p
            The jobs list for Oppify
          %button.learn-more-dribbble
            View on Dribbble
            %i.fa.fa-long-arrow-right
      = image_tag 'dribbble/opp-joblist.jpg'

    %article.item.dribbble
      .type-tag
      = link_to 'https://dribbble.com/shots/2426051-Oppify-Marketing-Site' do
        %figcaption
          %time 2013
          %p
            Marketing site for Oppify, an Ignite product
          %button.learn-more-dribbble
            View on Dribbble
            %i.fa.fa-long-arrow-right
      = image_tag 'dribbble/opp-site.jpg'

    %article.item.dribbble
      .type-tag
      = link_to 'https://dribbble.com/shots/1203764-Identity-option-for-MOCA-Jacksonville-s-New-Year-s-Eve-Party' do
        %figcaption
          %time 2013 &mdash; AUG 20
          %p
            Identity option for MOCA Jacksonville's New Year's Eve party
          %button.learn-more-dribbble
            View on Dribbble
            %i.fa.fa-long-arrow-right
      = image_tag 'dribbble/moca.png'

-# - page_articles.each do |article|
-#   %section
-#     .wrapper
-#       %article
-#         %h2
-#           = link_to article.title, article, relative: true
-#           %span.timeline-marker= article.date.strftime('%b %e')
-#         = article.body

- content_for :javascript do
  :javascript
    $(window).load(function() {
      // init
      var $container = $('#container');

      $container.isotope({
        // options
        itemSelector: '.item',
        layoutMode: 'masonry',
        masonry: {
          columnWidth: 400,
          gutter: 10
        }
      });
      $('.filter-button-group').on( 'click', 'button', function() {
        var filterValue = $(this).attr('data-filter');
        $container.isotope({ filter: filterValue });
      });
      $('.button-group').each( function( i, buttonGroup ) {
        var $buttonGroup = $( buttonGroup );
        $buttonGroup.on( 'click', 'button', function() {
          $buttonGroup.find('.is-checked').removeClass('is-checked');
          $( this ).addClass('is-checked');
        });
      });
    });
