---
pageable: false
---

%header
  %section
    .wrapper
      %article
        %h1 hello.
        %p
          I’m Amber Aultman, a senior product designer in Jacksonville, FL. I currently work at
          = link_to 'Tuft & Needle ', 'https://www.tuftandneedle.com/'
          where I help streamline the e-commerce platform and create admin tools, making sure the customer experience stays paramount. I love giving back to the design community through
          = link_to 'AIGA Jacksonville, ', 'http://jacksonville.aiga.org'
          where I currently serve as president. Check out my
          = link_to 'r&eacute;sum&eacute;,', 'https://www.dropbox.com/s/bezb1y1lpf4c272/resume-2015.pdf?raw=1'
          find me on
          = link_to 'Twitter, ', 'https://twitter.com/amberaultman', :target => "_blank"
          = link_to 'Github, ', 'https://github.com/amberaultman', :target => "_blank"
          or
          = link_to 'Dribbble, ', 'https://dribbble.com/amberaultman', :target => "_blank"
          or
          = link_to 'drop me a line ', 'mailto:amber.aultman@gmail.com'
          to say hello!
%aside.timeline
  Everything is awesome.
%section.timeline-container
  #container

    %article.item.about
      .type-tag
      %figcaption
        %time 2017 &mdash; JUL 27
        %p
          Love my Tuft & Needle design team so hard. We met up in St. Augustine for our bi-annual design summit.
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2017-07-27.jpg'

    %article.item.dribbble
      .type-tag
      = link_to 'https://dribbble.com/shots/3706767-Riptide-Realty-Logo', :target => "_blank" do
        %figcaption
          %time 2017 &mdash; JUNE
          %p
            Visual Identity for Riptide Realty in Jacksonville Beach
          %button.learn-more-dribbble
            View on Dribbble
            %i.fa.fa-long-arrow-right
      = image_tag 'dribbble/riptide-logo.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time 2017 &mdash; JUL 22
        %p
          I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2017-07-22c.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time 2017 &mdash; JUL 22
        %p
          At this year's board retreat, I facilitated a design thinking session around how we can engage and unite the Jacksonville creative community.
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2017-07-22b.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time 2017 &mdash; JUL 22
        %p
          We were honored to have Marq Mervin present on AIGA's Diversity & Inclusion initiatives at this year's local board retreat.
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2017-07-22a.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time 2017 &mdash; JUN 16
        %p
          Massive thank you to Bryan Hunt for his 2 years of service as our AIGA Jax president. We celebrated him and the rest of the crew at this year's board appreciation party.
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2017-06-16.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time 2017 &mdash; JUN 03
        %p
          Another successful AIGA National Leadership Retreat on the books! Always great seeing design friends from all over the country.
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2017-06-03.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time 2017 &mdash; MAY 13
        %p
          Discover Design Final Presentation Day. This was my first year mentoring in the 12-week program and it was incredibly rewarding.
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2017-05-13.jpg'

    %article.item.dribbble
      .type-tag
      = link_to 'https://dribbble.com/shots/3712136-Gives-Back-Program-Page', :target => "_blank" do
        %figcaption
          %time 2017 &mdash; MAY
          %p
            UX and visual design for our new T&N Gives Back program pages
          %button.learn-more-dribbble
            View on Dribbble
            %i.fa.fa-long-arrow-right
      = image_tag 'dribbble/gives-back-2.jpg'

    %article.item.dribbble
      .type-tag
      = link_to 'https://dribbble.com/shots/3712134-Gives-Back-Program-Calculator', :target => "_blank" do
        %figcaption
          %time 2017 &mdash; MAY
          %p
            Fundraising calculator for T&N Gives Back program
          %button.learn-more-dribbble
            View on Dribbble
            %i.fa.fa-long-arrow-right
      = image_tag 'dribbble/gives-back-1.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time 2017 &mdash; MAY 12
        %p
          One of the best parts of putting on AIGA speaker events is getting to take the speaker to dinner after the event. Kyle Cooper did not disappoint.
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2017-05-12b.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time 2017 &mdash; MAY 12
        %p
          It was an honor introducing the great Kyle Cooper for this year's I Love Design event.
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2017-05-12a.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time 2017 &mdash; MAY 11
        %p
          Great turnout for this month's AIGA Jax Cocktails & Creatives at the new Wicked Barley.
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2017-05-11.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time 2017 &mdash; APR 27
        %p
          The Tuft & Needle booth and crew at RailsConf in Phoenix.
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2017-04-27.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time 2017 &mdash; APR 12
        %p
          On set for a new T&N product shoot in upstate New York. It was awesome seeing all the pieces come together.
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2017-04-12.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time 2017 &mdash; MAR 10
        %p
          The T&N Jax crew always loves when we get visitors from HQ.
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2017-03-10.jpg'

    %article.item.dribbble
      .type-tag
      = link_to 'https://dribbble.com/shots/3706775-Tuft-Needle-Operations-Team-T-Shirt-Concepts', :target => "_blank" do
        %figcaption
          %time 2017 &mdash; JANUARY
          %p
            Tuft & Needle Operations Team T-Shirt Concepts
          %button.learn-more-dribbble
            View on Dribbble
            %i.fa.fa-long-arrow-right
      = image_tag 'dribbble/ops-team-tee.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time 2016 &mdash; DEC 03
        %p
          Such great creativity and craftsmanship for our first AIGA Jacksonville pinewood derby.
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2016-12-03.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time 2016 &mdash; NOV 14
        %p
          Tuft & Needle creative summit outing: the James Turrell installation at PS1 was stunning.
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2016-11-14.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time 2016 &mdash; NOV 13
        %p
          Getting to facilitate the Tuft & Needle creative team summit was so much fun. So many great ideas to explore!
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2016-11-13.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time 2016 &mdash; NOV 12
        %p
          Loved getting to see the new Tuft & Needle NYC office and using an Oculus to walk through a new store design.
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2016-11-12.jpg'

    %article.item.dribbble
      .type-tag
      = link_to 'https://dribbble.com/shots/3706778-MLK-5K-and-Fun-Run-Identity', :target => "_blank" do
        %figcaption
          %time 2016 &mdash; SEPTEMBER
          %p
            Visual Identity for an MLK 5K race in Jacksonville
          %button.learn-more-dribbble
            View on Dribbble
            %i.fa.fa-long-arrow-right
      = image_tag 'dribbble/mlk-5k.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time 2016 &mdash; SEP 23
        %p
          Day two of AIGA's Let's Get Digital Workshop is a success! I love facilitating these workshops.
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2016-09-23.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time 2016 &mdash; SEP 16
        %p
          Kicking day one of AIGA's Let's Get Digital Workshop off with some empathy maps.
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2016-09-16.jpg'

    %article.item.dribbble
      .type-tag
      = link_to 'https://dribbble.com/shots/3706781-Let-s-Get-Digital-Event-Identity', :target => "_blank" do
        %figcaption
          %time 2016 &mdash; MAY
          %p
            Event Identity for Let's Get Digital, a design thinking and prototyping workshop
          %button.learn-more-dribbble
            View on Dribbble
            %i.fa.fa-long-arrow-right
      = image_tag 'dribbble/lgd-logo.jpg'

    %article.item.dribbble
      .type-tag
      = link_to 'https://dribbble.com/shots/3712192-T-shirt-for-AIGA-National-Leadership-Retreat-in-Raleigh-NC', :target => "_blank" do
        %figcaption
          %time 2016 &mdash; MAY
          %p
            T-Shirt design for AIGA's national retreat in Raleigh, NC
          %button.learn-more-dribbble
            View on Dribbble
            %i.fa.fa-long-arrow-right
      = image_tag 'dribbble/aiga-retreat-tee.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time 2016 &mdash; FEB 09
        %p
          Getting sh*t done. Love getting those Asana unicorns. :)
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2016-02-09.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time 2015 &mdash; DEC 18
        %p
          It's so fun getting to see @content_modern's new branding implemented!
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2015-12-18.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time 2015 &mdash; NOV 03
        %p
          Ha! My 3-year present from Ignite. So rad.
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2015-11-03.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time 2015 &mdash; OCT 30
        %p
          Celebrating another Fetch product release Halloween-style
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2015-10-30.jpg'

    %article.item.work
      .type-tag
      = link_to '/work/wayfind.html' do
        %figcaption
          %time 2015
          %h2
            Wayfind
          %p
            Development, Product Strategy, UX Design, User Research, Workshop Facilitation
          %button.learn-more-work
            Learn More
            %i.fa.fa-long-arrow-right
      = image_tag 'work/way-cover.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time 2015 &mdash; AUG 06
        %p
          Visited the Museum of Vancouver while at Design+Content Conference. Stickies for days. Almost feels like a Catalyst workshop. :)
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2015-08-06.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time 2015 &mdash; JUN 12
        %p
          Days when Piggie Smalls visits the office are the best days.
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2015-06-12.jpg'

    %article.item.dribbble
      .type-tag
      = link_to 'https://dribbble.com/shots/3706771-AIGA-Jax-Portfolio-Review-Graphics' do
        %figcaption
          %time 2015 &mdash; MARCH
          %p
            Event Identity for AIGA Jax's 2015 Portfolio Review
          %button.learn-more-dribbble
            View on Dribbble
            %i.fa.fa-long-arrow-right
      = image_tag 'dribbble/portfolio-review.jpg'

    %article.item.work
      .type-tag
      = link_to '/work/ibm.html' do
        %figcaption
          %time 2015
          %h2
            IBM Alumni Engagement
          %p
            Project Management, Product Strategy, UX Design, User Research, Workshop Facilitation
          %button.learn-more-work
            Learn More
            %i.fa.fa-long-arrow-right
      = image_tag 'work/ibm-cover.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time 2015 &mdash; JUN 03
        %p
          Quick visit to NYC for the IBM workshop.
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2015-06-03.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time 2015 &mdash; MAY 28
        %p
          Getting in my #100daysofcode at the AIGA National Leadership Retreat.
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2015-05-28.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time 2015 &mdash; APR 14
        %p
          Relaxing at Berry Park with my coworkers after a long day of learning at Lean UX
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2015-04-14.jpg'

    %article.item.work
      .type-tag
      = link_to '/work/content.html' do
        %figcaption
          %time 2015
          %h2
            Content Architecture + Interiors
          %p
            Brand Identity, Visual Design, Website Content Strategy, Website Creative Direction
          %button.learn-more-work
            Learn More
            %i.fa.fa-long-arrow-right
      = image_tag 'work/cnt-cover.gif'

    %article.item.about
      .type-tag
      %figcaption
        %time 2015 &mdash; MAR 30
        %p
          I guess I'm the queen of Post-its! Haha, best April Fools joke anyone's ever played on me.
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2015-03-30.jpg'

    %article.item.dribbble
      .type-tag
      = link_to 'https://dribbble.com/shots/2426833-Logo-for-Jewelry-Company' do
        %figcaption
          %time 2015
          %p
            Logo design for my sister's jewelry company
          %button.learn-more-dribbble
            View on Dribbble
            %i.fa.fa-long-arrow-right
      = image_tag 'dribbble/apr-logo.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time 2015 &mdash; MAR 10
        %p
          Kicking off the next iteration of Women Wine and Web!
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2015-03-10.jpg'

    %article.item.work
      .type-tag
      = link_to '/work/taverna.html' do
        %figcaption
          %time 2013 &ndash; 2015
          %h2
            Taverna Restaurant
          %p
            Brand Identity, Strategy, UX Design, Visual Design
          %button.learn-more-work
            Learn More
            %i.fa.fa-long-arrow-right
      = image_tag 'work/tav-cover.jpg'

    %article.item.dribbble
      .type-tag
      = link_to 'https://dribbble.com/shots/2426840-The-Medicine-Tree-Acupuncture-Logo' do
        %figcaption
          %time 2014
          %p
            Logo for Medicine Tree Acupuncture
          %button.learn-more-dribbble
            View on Dribbble
            %i.fa.fa-long-arrow-right
      = image_tag 'dribbble/med-logo.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time 2014 &mdash; OCT 10
        %p
          In NYC with the design team for Brooklyn Beta. Such a great conference.
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2014-10-10.jpg'

    %article.item.dribbble
      .type-tag
      = link_to 'https://dribbble.com/shots/2426852-Logo-design-for-Jax-Compost' do
        %figcaption
          %time 2014
          %p
            Logo design for Jax Compost, a local compost startup
          %button.learn-more-dribbble
            View on Dribbble
            %i.fa.fa-long-arrow-right
      = image_tag 'dribbble/jax-logo.jpg'

    %article.item.work
      .type-tag
      = link_to '/work/catalyst.html' do
        %figcaption
          %time 2014
          %h2
            Catalyst: Design Thinking Workshops
          %p
            Development, Photography, Strategy, UX Design, Visual Design, Workshop Facilitation
          %button.learn-more-work
            Learn More
            %i.fa.fa-long-arrow-right
      = image_tag 'work/cat-cover.jpg'

    %article.item.writing
      .type-tag
      = link_to '/writing/2014-08-25.html' do
        %figcaption
          %time 2014 &mdash; AUG 25
          %h2
            Learn How to Learn (Code) Better
          %p
            Article originally posted on AIGA Jacksonville
          %button.learn-more-writing
            Read Article
            %i.fa.fa-long-arrow-right
      = image_tag 'writing/learn-better.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time 2014 &mdash; JUL 23
        %p
          Can you believe all these gorgeous ladies work in tech in Jax?
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2014-07-23.jpg'

    %article.item.dribbble
      .type-tag
      = link_to 'https://dribbble.com/shots/2426085-Oppify-Flyer' do
        %figcaption
          %time 2014
          %p
            Oppify flyer stuffed into koozies for promotion
          %button.learn-more-dribbble
            View on Dribbble
            %i.fa.fa-long-arrow-right
      = image_tag 'dribbble/opp-flyer.jpg'

    %article.item.dribbble
      .type-tag
      = link_to 'https://dribbble.com/shots/2426079-Promotional-koozie-for-Oppify' do
        %figcaption
          %time 2014
          %p
            Promotional koozies for Oppify
          %button.learn-more-dribbble
            View on Dribbble
            %i.fa.fa-long-arrow-right
      = image_tag 'dribbble/opp-koozie.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time 2014 &mdash; MAY 31
        %p
          Experience mapping at the AIGA National Leadership Retreat
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2014-05-31.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time 2014 &mdash; MAY 23
        %p
          Hilariously awesome improv workshop with The Improv Effect
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2014-05-23.jpg'

    %article.item.writing
      .type-tag
      = link_to '/writing/2014-04-16.html' do
        %figcaption
          %time 2014 &mdash; APR 16
          %h2
            Style Prototypes: A Happy Medium
          %p
            Article originally posted on AIGA Jacksonville
          %button.learn-more-writing
            Read Article
            %i.fa.fa-long-arrow-right
      = image_tag 'writing/style-prototypes.jpg'

    %article.item.dribbble
      .type-tag
      = link_to 'https://dribbble.com/shots/2426071-Oppify-Responsive-Web-App' do
        %figcaption
          %time 2013
          %p
            Oppify, a responsive web app
          %button.learn-more-dribbble
            View on Dribbble
            %i.fa.fa-long-arrow-right
      = image_tag 'dribbble/opp-app.jpg'

    %article.item.dribbble
      .type-tag
      = link_to 'https://dribbble.com/shots/2426076-Oppify-Job-List' do
        %figcaption
          %time 2013
          %p
            The jobs list for Oppify
          %button.learn-more-dribbble
            View on Dribbble
            %i.fa.fa-long-arrow-right
      = image_tag 'dribbble/opp-joblist.jpg'

    %article.item.dribbble
      .type-tag
      = link_to 'https://dribbble.com/shots/2426051-Oppify-Marketing-Site' do
        %figcaption
          %time 2013
          %p
            Marketing site for Oppify, an Ignite product
          %button.learn-more-dribbble
            View on Dribbble
            %i.fa.fa-long-arrow-right
      = image_tag 'dribbble/opp-site.jpg'

    %article.item.dribbble
      .type-tag
      = link_to 'https://dribbble.com/shots/1203764-Identity-option-for-MOCA-Jacksonville-s-New-Year-s-Eve-Party' do
        %figcaption
          %time 2013
          %p
            Identity option for MOCA Jacksonville's New Year's Eve party
          %button.learn-more-dribbble
            View on Dribbble
            %i.fa.fa-long-arrow-right
      = image_tag 'dribbble/moca.png'

    %article.item.about
      .type-tag
      %figcaption
        %time 2014 &mdash; APR 13
        %p
          That time we talked Jessica Hische into coming to Jax for AIGA and got her to hangout at One Spark...
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2014-04-13.jpg'

    %article.item.about
      .type-tag
      %figcaption
        %time 2014 &mdash; APR 07
        %p
          Ignite gets recognized by First Coast Magazine for being a dog-friendly workplace.
        -# %button.learn-more-about
        -#   View on Somewhere
        -#   %i.fa.fa-long-arrow-right
      = image_tag 'about/2014-04-07.jpg'

    %article.item.dribbble
      .type-tag
      = link_to 'https://dribbble.com/shots/1039633-Aurora-Streaming-and-Artist-Pages' do
        %figcaption
          %time 2013
          %p
            Some screens for a mobile location-based music iPhone app
          %button.learn-more-dribbble
            View on Dribbble
            %i.fa.fa-long-arrow-right
      = image_tag 'dribbble/aur-app-1.jpg'

    %article.item.dribbble
      .type-tag
      = link_to 'https://dribbble.com/shots/1039923-Aurora-Navigation-Bar-and-Map-Pages' do
        %figcaption
          %time 2013
          %p
            Some screens for a mobile location-based music iPhone app
          %button.learn-more-dribbble
            View on Dribbble
            %i.fa.fa-long-arrow-right
      = image_tag 'dribbble/aur-app-2.jpg'

-# - page_articles.each do |article|
-#   %section
-#     .wrapper
-#       %article
-#         %h2
-#           = link_to article.title, article, relative: true
-#           %span.timeline-marker= article.date.strftime('%b %e')
-#         = article.body

- content_for :javascript do
  :javascript
    $(window).load(function() {
      // init
      var $container = $('#container');

      $container.isotope({
        // options
        itemSelector: '.item',
        layoutMode: 'masonry',
        masonry: {
          columnWidth: 400,
          gutter: 10
        }
      });
      $('.filter-button-group').on( 'click', 'button', function() {
        var filterValue = $(this).attr('data-filter');
        $container.isotope({ filter: filterValue });
      });
      $('.button-group').each( function( i, buttonGroup ) {
        var $buttonGroup = $( buttonGroup );
        $buttonGroup.on( 'click', 'button', function() {
          $buttonGroup.find('.is-checked').removeClass('is-checked');
          $( this ).addClass('is-checked');
        });
      });
    });

    $(".scroll").click(function() {
      $('html, body').animate({
        scrollTop: $("#container").offset().top
      }, 1000);
    });

    // $.fn.scrollTo = function( target, options, callback ){
    //   if(typeof options == 'function' && arguments.length == 2){ callback = options; options = target; }
    //   var settings = $.extend({
    //     scrollTarget  : target,
    //     offsetTop     : 200,
    //     duration      : 500,
    //     easing        : 'swing'
    //   }, options);
    //   return this.each(function(){
    //     var scrollPane = $(this);
    //     var scrollTarget = (typeof settings.scrollTarget == "number") ? settings.scrollTarget : $(settings.scrollTarget);
    //     var scrollY = (typeof scrollTarget == "number") ? scrollTarget : scrollTarget.offset().top + scrollPane.scrollTop() - parseInt(settings.offsetTop);
    //     scrollPane.animate({scrollTop : scrollY }, parseInt(settings.duration), settings.easing, function(){
    //       if (typeof callback == 'function') { callback.call(this); }
    //     });
    //   });
    // }
    //
    // $("#work").click(function() {
    //   $('html, body').scrollTo('#container',{duration:'slow', offsetTop : '200'});
    // });
