---
pageable: false
---

%header
  %aside.timeline.header-timeline
    Everything is awesome
  %section
    .wrapper
      %article
        %h1 hello.
        %p
          I’m Amber Aultman, a product designer in Jacksonville, FL. I work at
          = link_to 'Ignite', 'http://ignitewithus.com'
          where I’m helping to create products that shape the way we work. I take on a bit of freelance work here and there and I’m loving my role as Communications Director for
          = link_to 'AIGA Jacksonville.', 'http://jacksonville.aiga.org'
          You can find me on
          = link_to 'Twitter,', 'https://twitter.com/amberaultman'
          = link_to 'Github,', 'https://github.com/amberaultman'
          = link_to 'Dribbble', 'https://github.com/amberaultman'
          and
          = link_to 'Somewhere', 'https://www.somewhere.com/amberaultman'
          or you can
          = link_to 'drop me a line', 'mailto:amber.aultman@gmail.com'
          to say hello.
%aside.timeline
  Everything is awesome
%section
  .wrapper#container
    %article.item
      = image_tag 'http://placehold.it/200x100'
    %article.item
      = image_tag 'http://placehold.it/200x100'
    %article.item
      = image_tag 'http://placehold.it/200x100'
    %article.item
      = image_tag 'http://placehold.it/200x100'
- page_articles.each do |article|
  %section
    .wrapper
      %article
        %h2
          = link_to article.title, article, relative: true
          %span.timeline-marker= article.date.strftime('%b %e')
        = article.body

:javascript
  var $container = $('#container');
  // init
  $container.isotope({
    // options
    itemSelector: '.item',
    layoutMode: 'fitRows'
  });
